@import '@fontsource/inconsolata';

:root {
	--forground-color: white;
	--accent-color: #22ff22;
	--accent-compl: #ff2291;
	--background-color: black;
	--background-compl: #333333;
}

body {
	font-family: 'Inconsolata', monospace;
	min-height: 100vh;
	color: var(--forground-color);
	background-color: var(--background-color);
	margin: 0;
}

a:visited {
	color: var(--compl-color);
}
a {
	color: var(--accent-color);
}
a.external::after {
	content: url(/external.svg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent-color);
}
